@using System;
@using System.Net;
@using semester_projekt.Shared.Models;
@using System;
@using Dapper;
@using Npgsql;
@using semester_projekt.Client.Services;
@using System.Net.Http;


@page "/"

    <h1>kjær kæmpe fag</h1>

    <h1>mads emil er også en kæmpe fag</h1>

    @code{

    }
