@using System;
@using System.Net;
@using semester_projekt.Shared.Models;
@using System;
@using Dapper;
@using Npgsql;
@using semester_projekt.Client.Services;
@using System.Net.Http;

@page "/nyvagt"

<h3>Opret ny vagt</h3>




@code {



}

